<button class="btn btn-info" routerLink="/app-mes-appareils" routerLinkActive="active">Retour à la liste</button>
<div class="device-container">
  <h2>{{ deviceName | titlecase }}</h2>
  <p [ngStyle]="{color: getColor(deviceStatus)}"><strong>{{ deviceStatus | titlecase }}</strong></p>
  <button *ngIf="deviceStatus === 'éteint'" class="btn btn-success" (click)="onSwitch()" [disabled]="deviceStatus !== 'éteint'">On</button>
  <button *ngIf="deviceStatus !== 'éteint'" class="btn btn-danger" (click)="onSwitch()" [disabled]="deviceStatus === 'éteint'">Off</button>
  <div>
    <h2>Modifier</h2>
    <input type="text" class="form-control col-md-6 offset-md-3" [(ngModel)]="deviceName">
    <button class="btn btn-info" (click)="onSubmit()" routerLink="/app-mes-appareils" routerLinkActive="active">Sauvegarder</button>
  </div>
</div>
