<nav class="navbar navbar-expand-lg" [ngClass]="isDarkMode('nav')">
  <a class="navbar-brand" routerLink="/">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/app-new-device">+ appareil<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button *ngIf="!darkMode" class="btn btn-dark btn-mode" type="button" (click)="onDarkMode()">DarkMode</button>
    <button *ngIf="darkMode" class="btn btn-light btn-mode" type="button" (click)="onDarkMode()">LightMode</button>
  </div>
</nav>
<main class="main" [ngClass]="isDarkMode('main')">
  <router-outlet></router-outlet>
</main>
