.darkmode {
  background-color: #2f313c;
  color: white;
  padding: 20px;
}

.lightmode {
  background-color: white;
  color: black;
  padding: 20px;
}

.btn-mode {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.navbar {
  height: 10vh;
}
