<h2>{{ devicesTitle }}</h2>

<div class="col-md-10 offset-md-1">
  <small>Mis à jour le : {{ updatedAt | async | date: "dd/MM/y" }} à {{ updatedAt | async | date: "h:m"}}</small>
  <ul>
    <li class="list-group-item" *ngFor="let device of devices; let i = index" [ngClass]="getClass(device.status)">
      <p [ngStyle]="{color: getColor(device.status)}">
        Appareil : {{ device.name | titlecase }} -- Status : {{ device.status | titlecase }}
      </p>
      <button class="btn btn-success" (click)="onSwitchOn(i)" [disabled]="isDisabled(i)">On</button>
      <button class="btn btn-danger" (click)="onSwitchOff(i)" [disabled]="!isDisabled(i)">Off</button>
      <input type="hidden" class="form-control" [(ngModel)]="device.name">
    </li>
  </ul>

  <button class="btn btn-success"
          (click)="onToutAllumer()"
          [disabled]="">Tout allumer</button>
  <button class="btn btn-danger"
          (click)="onToutEteindre()"
          [disabled]="">Tout éteindre</button>
</div>
